@charset "utf-8";

// My SelfCare Colours
// Visualised - coolors.co/292828-474036-63494d-bd5173-6b437b
$darkUmber: rgba(41, 40, 40, 1);
$darkBrown: rgba(71, 64, 54, 1);
$rust: rgba(99, 73, 77, 1);
$lightPink: rgba(189, 81, 115, 1);
$lightPurple: rgba(107, 67, 123, 1);
$warmGrey: #DAE2DF;

// Update Bulma Globals
// https://bulma.io/documentation/customize/variables/
// Colors

$black:        hsl(0, 0%, 4%)
$black-bis:    hsl(0, 0%, 7%)
$black-ter:    hsl(0, 0%, 14%)

$grey-darker:  hsl(0, 0%, 21%)
$grey-dark:    hsl(0, 0%, 29%)
$grey:         hsl(0, 0%, 48%)
$grey-light:   hsl(0, 0%, 71%)
$grey-lighter: hsl(0, 0%, 86%)

$white-ter:    hsl(0, 0%, 96%)
$white-bis:    hsl(0, 0%, 98%)
$white:        hsl(0, 0%, 100%)

$orange:       hsl(14,  100%, 53%)
$yellow:       hsl(48,  100%, 67%)
$green:        hsl(141, 71%,  48%)
$turquoise:    hsl(171, 100%, 41%)
$cyan:         hsl(204, 86%,  53%)
$blue:         hsl(217, 71%,  53%)
$purple:       hsl(271, 100%, 71%)
$red:          hsl(348, 100%, 61%)

// Typography

$family-sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$family-monospace: monospace
$render-mode: optimizeLegibility

$size-1: 3rem
$size-2: 2.5rem
$size-3: 2rem
$size-4: 1.5rem
$size-5: 1.25rem
$size-6: 1rem
$size-7: 0.75rem

$weight-light: 300
$weight-normal: 400
$weight-medium: 500
$weight-semibold: 600
$weight-bold: 700

// Responsiveness

// The container horizontal gap, which acts as the offset for breakpoints
$gap: 64px
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px
// 960px container + 4rem
$desktop: 960px + (2 * $gap)
// 1152px container + 4rem
$widescreen: 1152px + (2 * $gap)
$widescreen-enabled: true
// 1344px container + 4rem
$fullhd: 1344px + (2 * $gap)
$fullhd-enabled: true

// Miscellaneous

$easing: ease-out
$radius-small: 2px
$radius: 4px
$radius-large: 6px
$radius-rounded: 290486px
$speed: 86ms

// Flags

$variable-columns: true
$primary: $turquoise

$info: $cyan
$success: $green
$warning: $yellow
$danger: $red

$light: $white-ter
$dark: $grey-darker

// Invert colors

$orange-invert: findColorInvert($orange)
$yellow-invert: findColorInvert($yellow)
$green-invert: findColorInvert($green)
$turquoise-invert: findColorInvert($turquoise)
$cyan-invert: findColorInvert($cyan)
$blue-invert: findColorInvert($blue)
$purple-invert: findColorInvert($purple)
$red-invert: findColorInvert($red)

$primary-invert: $turquoise-invert
$info-invert: $cyan-invert
$success-invert: $green-invert
$warning-invert: $yellow-invert
$danger-invert: $red-invert
$light-invert: $dark
$dark-invert: $light

// General colors

$background: $white-ter

$border: $grey-lighter
$border-hover: $grey-light

// Text colors

$text: $grey-dark
$text-invert: findColorInvert($text)
$text-light: $grey
$text-strong: $grey-darker

// Code colors

$code: $red
$code-background: $background

$pre: $text
$pre-background: $background

// Link colors

$link: $blue
$link-invert: $blue-invert
$link-visited: $purple

$link-hover: $grey-darker
$link-hover-border: $grey-light

$link-focus: $grey-darker
$link-focus-border: $blue

$link-active: $grey-darker
$link-active-border: $grey-dark

// Typography

$family-primary: $family-sans-serif
$family-code: $family-monospace

$size-small: $size-7
$size-normal: $size-6
$size-medium: $size-5
$size-large: $size-4

$colors: mergeColorMaps(("white": ($white, $black), "black": ($black, $white), "light": ($light, $light-invert), "dark": ($dark, $dark-invert), "primary": ($primary, $primary-invert), "link": ($link, $link-invert), "info": ($info, $info-invert), "success": ($success, $success-invert), "warning": ($warning, $warning-invert), "danger": ($danger, $danger-invert)), $custom-colors)
$shades: mergeColorMaps(("black-bis": $black-bis, "black-ter": $black-ter, "grey-darker": $grey-darker, "grey-dark": $grey-dark, "grey": $grey, "grey-light": $grey-light, "grey-lighter": $grey-lighter, "white-ter": $white-ter, "white-bis": $white-bis), $custom-shades)

$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7

@import "../node_modules/bulma/bulma.sass";
